body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color;
}

main {
    max-width: 800px;
    width: 100%;
    align-self: center;
    height: 100%;
    min-height: 100vh;
}

.coursesection {
    width: 100%;
    margin-bottom: 75px;
    margin-top: 100px;

    table {
        width: 100%;
        th {
            text-align: left;
            padding-bottom: 15px;
        }
    }
}

.addcoursesection {
    width: 100%;
    background-color: $prim-color;
    border-radius: 25px;
    padding: 25px 60px;
    padding-bottom: 75px;
    margin-bottom: 150px;

    form {
        width: 100%;

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .width1 {
            width: 25%;
        }
        .width2 {
            width: 65%;
        }
        input {
            border-style: none;
            border-radius: 15px;
            padding: 1.5%;
        }
        #savebtn {
            float: right;
            background-color: greenyellow;
            font-weight: 500;
            min-width: 100px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35px;
    font-size: 0.9rem;
}